<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" dir="ltr" lang="nl">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />

		<title>Traineeship AWS App</title>

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	</head>

	<body itemscope="itemscope" itemtype="http://schema.org/WebPage">
		<th:block layout:fragment="content"></th:block>
	</body>
</html>
